<div class="page">
  <page-header [title]="pokemonName" [backButton]="true"></page-header>
  <div class="content">
    <div class="image-container">
      <img
        [src]="pokemon ? pokemon.sprites.front_default : ''"
        [alt]="pokemonName"
        [height]="100"
        [width]="100"
      />
      <img
        [src]="pokemon ? pokemon.sprites.back_default : ''"
        [alt]="pokemonName"
        [height]="100"
        [width]="100"
      />
    </div>
    <div class="detail-container">
      <div class="item">
        <span>Name: </span>
        <span>{{pokemon.name}}</span>
      </div>
      <div class="item">
        <span>Base Experience: </span>
        <span>{{pokemon.base_experience}}</span>
      </div>
      <div class="item">
        <span>Height: </span>
        <span>{{pokemon.height}}</span>
      </div>
      <div class="item">
        <span>Weight: </span>
        <span>{{pokemon.weight}}</span>
      </div>
      <div class="item">
        <span>Types: </span>
        <div>
          <ul>
            <li *ngFor="let type of pokemon.types">{{type.type.name}}</li>
          </ul>
        </div>
      </div>
      <div class="item">
        <span>Abilities: </span>
        <div>
          <ul>
            <li *ngFor="let ability of pokemon.abilities">{{ability.ability.name}}</li>
          </ul>
        </div>
      </div>
      <div class="item">
        <span>Stats: </span>
        <div>
          <ul>
            <li *ngFor="let stat of pokemon.stats">{{stat.stat.name}}: {{stat.base_stat}}</li>
          </ul>
        </div>
      </div>
      <div class="item">
        <span>Moves: </span>
        <div class="move-container">
          <ul>
            <li *ngFor="let move of pokemon.moves">{{move.move.name}}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
