.container {
  display: flex;
  padding: 10px 10px 10px 20px;
  color: white;
  font-weight: 600;
  font-size: 18px;

  .title {
    font-size: 20px;
    flex: 1;
    text-align: center;
  }

  .back{
    cursor: pointer;
  }
}
